body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: tomato;
  padding: 1rem;


}
a {

  font-size: 2rem;
  text-decoration: none;

  color: antiquewhite;

}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  height: 5rem;
  float: left;
  padding: .5rem;

}
.nav-right {
  float: right;
}

.nav-right a {
  margin: 1rem;
  font-size: 1.5rem;

}

.wrapper {
 overflow: auto;
 background-color: lightblue;

 padding: 2rem;

}

.grid-item {
  float: left;
  width: calc(100%/3 - 1rem - 1rem);
  border-style: solid;
  border-width: 0.125rem;
  border-color: purple;
  margin: 0.5rem;



}

.grid-item h2 {
  font-family: cursive;
  color: purple;
  font-size: 2rem;
  margin: 0;


}
.grid-item h5 {
  margin-top: 0;
  color: purple;

}



.grid-item li {
  border-top: .025rem purple solid;

}
