body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: tomato;
  padding: 1rem;


}
a {

  font-size: 2rem;
  text-decoration: none;

  color: antiquewhite;

}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  height: 7rem;
  float: left;
  padding: 1rem;

}
.nav-right {
  float: right;
}

.nav-right a {
  margin: 1rem;
  font-size: 1.5rem;

}

.wrapper {
 overflow: auto;
 background-color: lightblue;

 padding: 2rem;

}

.grid-item {
  float: left;
  width: calc(100%/3 - 1rem - 1rem);

}
